<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="Een nieuwe functionaliteit voor Strandeiland">
    <title>Hallo Strandeiland</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <script defer src="/js/script.js"></script>
  </head>
  <body>
    
    {{> header }}
    {{{ body }}}
    {{> footer }}

  </body>
</html>