<main class="wish-form">
    <section>
        <h1>Maak hier je wens aan</h1>
        <article>
            <h2>Check of je wens al bestaat</h2>
            <p>Om te voorkomen dat er geen dubbele wensen ontstaan kun je checken of er al een soort gelijke wens bestaat, door in het overzicht te zoeken.</p>
            <a href="">Overzicht wensen</a>
        </article>
        <form action="">
            <label for="title">
                Titel van je wens
                <input type="text" name="title" id="title">
            </label>
            <label for="message">
                Informatie over je wens
                <input type="text" name="message" id="message">
            </label>
            <label for="image">
                Upload een afbeelding voor je wens
                <input type="file" name="image" id="image">
            </label>
            <button type="submit">Deel een wens</button>
        </form>
    </section>
    <section>
        <img src="https://architectenweb.nl/media/illustrations/2019/11/94a522f2-a6bf-4b09-9df4-2135e786862a_400.png" alt="image">
    </section>
</main>