<main class="wish-form">
    <section>
        <h1>Maak hier je wens aan</h1>
        <article>
            <h2>Check of je wens al bestaat</h2>
            <p>Om te voorkomen dat er geen dubbele wensen ontstaan kun je checken of er al een soort gelijke wens bestaat, door in het overzicht te zoeken.</p>
            <a href="">Overzicht wensen</a>
        </article>
        <form action="">
            <label for="title">
                <span>Titel van je wens</span>
                <input type="text" name="title" id="title" required>
            </label>
            <label for="message">
                <span>Informatie over je wens</span>
                <textarea name="message" id="message" cols="30" rows="10" required></textarea>
            </label>
            <label for="image">
                <span>Upload een afbeelding voor je wens</span>
                <input type="file" name="image" id="image" accept="image/png, image/jpeg">
            </label>
            <button type="submit">Deel een wens</button>
        </form>
    </section>
    <section>
        <img src="https://architectenweb.nl/media/illustrations/2019/11/94a522f2-a6bf-4b09-9df4-2135e786862a_400.png" alt="image">
    </section>
</main>