<main>
    <section>
        <label for="sustainable">
            <article class="card_sustainable">
                <a href="/wensen/bankjes">
                    <div>
                        <h2>Meer bankjes bij het strand</h2>
                        <span>Duurzaam</span>
                        <p>Het zou erg fijn zijn als er meerdere bankjes bij de stranden zouden worden geplaatst. Op deze manier...</p>
                    </div>
                    <img src="public/images/houses_strandeiland.jpg" alt="Test image">
                </a>
            </article>
            <input type="radio" name="map" id="sustainable">
        </label>
        <label for="social">
            <article class="card_social">
                <a href="/wensen/bankjes">
                    <div>
                        <h2>Meer bankjes bij het strand</h2>
                        <span>Sociaal</span>
                        <p>Het zou erg fijn zijn als er meerdere bankjes bij de stranden zouden worden geplaatst. Op deze manier...</p>
                    </div>
                    <img src="public/images/houses_strandeiland.jpg" alt="Test image">
                </a>
            </article>
            <input type="radio" name="map" id="social">
        </label>
        <label for="recreation">
            <article class="card_recreation">
                <a href="/wensen/bankjes">
                    <div>
                        <h2>Meer bankjes bij het strand</h2>
                        <span>Recreatie</span>
                        <p>Het zou erg fijn zijn als er meerdere bankjes bij de stranden zouden worden geplaatst. Op deze manier...</p>
                    </div>
                    <img src="public/images/houses_strandeiland.jpg" alt="Test image">
                </a>
            </article>
            <input type="radio" name="map" id="recreation">
        </label>
        <label for="living">
            <article class="card_living">
                <a href="/wensen/bankjes">
                    <div>
                        <h2>Meer bankjes bij het strand</h2>
                        <span>Fijn leven</span>
                        <p>Het zou erg fijn zijn als er meerdere bankjes bij de stranden zouden worden geplaatst. Op deze manier...</p>
                    </div>
                    <img src="public/images/houses_strandeiland.jpg" alt="Test image">
                </a>
            </article>
            <input type="radio" name="map" id="living">
        </label>
        <div class="image_wrapper">
            <img src="public/images/map_of_strandeiland.jpg" alt="Kaart van de wijk Strandeiland">
        </div>
    </section>
    <section>
        <h2>Thema legenda:</h2>
        <ul>
            <li>Duurzaam</li>
            <li>Sociaal</li>
            <li>Fijn leven</li>
            <li>Recreatie</li>
        </ul>
    </section>
    <section>
        <h1>Wensen</h1>
        <ul>
            <li>
                <a href="/wensen/bankjes">
                    <h2>Meer bankjes bij het strand</h2>
                    <span>Duurzaam</span>
                    <p>Het zou erg fijn zijn als er meerdere bankjes bij de stranden zouden worden geplaatst. Op deze manier...</p>
                    <img src="public/images/houses_strandeiland.jpg" alt="Test image">
                </a>
            </li>
            <li>
                <a href="/wensen/bankjes">
                    <h2>Zorgen dat er genoeg buitensport mogelijkheden zijn</h2>
                    <span>Recreatie</span>
                    <p>Het zou erg fijn zijn als er meerdere bankjes bij de stranden zouden worden geplaatst. Op deze manier...</p>
                    <img src="public/images/houses_strandeiland.jpg" alt="Test image">
                </a>
            </li>
            <li>
                <a href="/wensen/bankjes">
                    <h2>Meer speeltuinen die ook geschikt zijn voor peuters</h2>
                    <span>Sociaal</span>
                    <p>Het zou erg fijn zijn als er meerdere bankjes bij de stranden zouden worden geplaatst. Op deze manier...</p>
                    <img src="public/images/houses_strandeiland.jpg" alt="Test image">
                </a>
            </li>
            <li>
                <a href="/wensen/bankjes">
                    <h2>Verbreden fietspaden</h2>
                    <span>Fijn leven</span>
                    <p>Het zou erg fijn zijn als er meerdere bankjes bij de stranden zouden worden geplaatst. Op deze manier...</p>
                    <img src="public/images/houses_strandeiland.jpg" alt="Test image">
                </a>
            </li>
        </ul>
    </section>
</main>