<main class="person">
    <a href="javascript: history.go(-1)" class="button-back">Terug</a>
    <section>
        <div>
            <div>
                <h1>Esther Grandiek</h1>
                <p>Ondernemer, Professional, Toekomstige bewoner, Poppenkast activities.</p>
            </div>
            <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w272h272-cropped/72130/2021/28/Esther_Grandiek.png" alt="Afbeelding van Esther Grandiek">
        </div>
        <article>
            <h2>Over Esther Grandiek</h2>
            <p>Hoi, ik ben Esther! Ik ben een veelzijdige ondernemer, gepassioneerde professional en binnenkort een trotse bewoner van het levendige Strandeiland. Mijn werk bij de gemeente Amsterdam richt zich op de gebiedsontwikkeling van Amsterdam Oost, waar ik mijn liefde voor de stad en haar inwoners kan tonen. Naast mijn drukke baan geniet ik er ook van om poppenkastactiviteiten te organiseren, waar ik jong en oud vermaak met mijn creativiteit en speelse geest. Ik ben een ware duizendpoot en mijn energieke persoonlijkheid maakt me tot een inspirerende kracht binnen onze gemeenschap.</p>
        </article>
    </section>
    <aside>
        <section>
            <h3>Organisatie waar Esther bij hoort:</h3>
            <ul>
                <li>
                    <h4>Gemeente Amsterdam, gebiedsontwikkeling Amsterdam Oost</h4>
                    <img src="https://www.kuuk.nl/wp-content/uploads/2019/05/logo-gemeente-amsterdam.png" alt="Logo Gemeente Amsterdam">
                </li>
                <li>
                    <h4>Gemeente Amsterdam</h4>
                    <img src="https://www.kuuk.nl/wp-content/uploads/2019/05/logo-gemeente-amsterdam.png" alt="Logo Gemeente Amsterdam">
                </li>
            </ul>
        </section>
        <section>
            <h3>Wensen van Esther:</h3>
            <ul>
                <li>
                    <a href="/wens/121/Kleine%20ondernemers">
                        <div>
                            <h4>Kleine ondernemers</h4>
                            <p>Het zou fijn zijn als er betaalbare winkelpanden komen zodat ook...</p>
                        </div>
                        <img src="https://images.unsplash.com/photo-1508766917616-d22f3f1eea14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" alt="Kleine ondernemers: Foto van café">
                    </a>
                </li>
                <li>
                    <a href="/wens/4/Middelbare%20school">
                        <div>
                            <h4>Middelbare school</h4>
                            <p>Het bouwen van een middelbare school in een nieuwe wijk...</p>
                        </div>
                        <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1473&q=80" alt="Middelbare school: Foto van boeken">
                    </a>
                </li>
            </ul>
        </section>
    </aside>
</main>