/********/
/* Wish */
/********/
.wish>p.message {
    max-width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-family: var(--font-bold);
    background-color: var(--color-text-background-secondary);
}

.wish>section div {
    margin: 1.5rem 0 2rem;
    display: flex;
    gap: .375rem;
}

.wish>section div a {
    padding: .125rem .375rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-text-primary);
    font-family: var(--font-medium);
}

.wish>section div svg {
    width: .625rem;
}

.wish > section div li {
    border: none;
    text-transform: capitalize;
}

.wish > section div ul.themesContainer {
    position: inherit;
}

.wish>section article {
    display: flex;
    flex-direction: column;
}

.wish>section article h1 {
    width: fit-content;
    order: -2;
}

.wish>section article img {
    height: 420px;
    margin-bottom: 1.5rem;
    order: -1;
    object-fit: cover;
}

.wish>section article div {
    margin: 1.5rem 0 3rem;
    display: flex;
    flex-direction: column;
}

.wish>section article div button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-medium);
    color: var(--color-background-primary);
    background-color: var(--color-button-primary);
}

.wish>section article div button:first-of-type svg {
    width: 1.625rem;
    height: .8125rem;
    margin-right: .5rem;
}

.wish>section article div button:nth-of-type(2) svg {
    width: 1.5rem;
    height: .875rem;
    margin-right: .5rem;
}

.wish>section article div button:nth-of-type(3) svg {
    width: 1.125rem;
    height: .9375rem;
    margin-right: .5rem;
}

.wish>section:nth-of-type(2) h2 {
    margin-bottom: .75rem;
}

.wish>section:nth-of-type(2) ul,
.wish aside ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.wish>section:nth-of-type(2) ul li {
    padding: 1rem;
    border-radius: .5rem;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    background-color: var(--color-background-primary);
    box-shadow: var(--box-shadow);
}

.wish>section:nth-of-type(2) ul li time {
    width: fit-content;
    padding: .125rem .375rem;
    font-size: .75rem;
    color: var(--color-background-primary);
    background-color: var(--color-text-primary);
}

.wish>section:nth-of-type(2) ul li h3 {
    width: fit-content;
    padding: .125rem .375rem;
    margin: .375rem 0 .75rem;
    display: inline-block;
    color: var(--color-text-primary);
    background-color: var(--color-text-background-secondary);
}

.wish > section:nth-of-type(2) form {
    margin-top: 1.5rem;
}

.wish > section:nth-of-type(2) form label {
    font-family: var(--font-bold);
    font-size: 1.5rem;
}

.wish > section:nth-of-type(2) form label textarea {
    max-width: 100%;
    height: 100px;
    margin: 0.25rem 0;
}

.wish>section ul li img {
    display: none;
}

.wish aside {
    margin-top: 3rem;
}

.wish aside section:not(section:last-of-type) {
    margin-bottom: 2rem;
}

.wish aside h3 {
    margin-bottom: .5rem;
}

.wish aside ul li {
    padding-right: 1rem;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 4.5rem 1fr;
    align-items: center;
    background-color: var(--color-background-primary);
    box-shadow: var(--box-shadow);
}

.wish aside ul li h4 {
    font-family: var(--font-bold);
}

.wish aside ul li p {
    font-size: .875rem;
    color: var(--color-text-quaternary);
}

.wish aside ul li img {
    width: 3.5rem;
    height: auto;
    border-radius: .5rem;
    margin-right: .75rem;
    order: -1;
}

.wish aside ul~button {
    padding-right: 1.5rem;
    border: none;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    color: var(--color-text-primary);
    background-color: transparent;
}

.wish aside ul~button::after {
    content: '';
    width: 10px;
    height: 16px;
    position: absolute;
    right: .125rem;
    rotate: 90deg;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='var(--color-text-primary)'%3E%3Cpath d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
    background-size: contain;
}

.wish > section:nth-of-type(2) ul li.hidden,
.wish aside ul li.hidden {
    display: none;
}

.wish > section:nth-of-type(2) ul li.show,
.wish aside ul li.show {
    display: grid;
}

@media only screen and (min-width: 43.75rem) {
    .wish>section article div {
        flex-direction: row;
    }

    .wish>section article div button {
        width: max-content;
    }
}

@media only screen and (min-width: 59.375rem) {
    .wish {
        display: grid;
        grid-template-columns: calc(60% - 2vw) calc(40% - 2vw);
        grid-template-rows: repeat(4, max-content);
        column-gap: 4vw;
    }

    .message {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .button-back {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .wish>section:first-of-type {
        grid-row: 3 / 4;
    }

    .wish>section:nth-of-type(2) {
        grid-row: 4 / 5;
        margin-bottom: 2rem;
    }

    .wish>section article div button {
        line-height: 1.3;
    }

    .wish>aside {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
    }
}

@media only screen and (min-width: 64rem) {
    .wish>section:nth-of-type(2) ul li {
        grid-template-columns: 6rem 1fr;
        align-items: center;
        column-gap: 1rem;
    }

    .wish>section:nth-of-type(2) ul li time,
    .wish>section:nth-of-type(2) ul li h3 {
        grid-column: 2 / 4;
    }

    .wish>section ul li img {
        width: 100%;
        height: auto;
        border-radius: 100%;
        display: block;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
}

@media only screen and (min-width: 75rem) {
    .wish>section article div button {
        line-height: 1.5;
    }
}