/**********/
/* FORM PAGE */
/**********/
main.wish-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main.wish-form section:first-of-type {
    max-width: 40.625rem;
    width: 100%;
    padding: 3rem 5vw;
}

/* Form intro */
main.wish-form article h2 {
    padding: 0;
    color: var(--color-text-primary);
    background-color: transparent;
}

main.wish-form article p {
    max-width: 31.25rem;
    margin-bottom: 1.5rem;
}

/* Dialog button */
main.wish-form article button#dialog-btn {
    padding: .375rem 1rem;
    border: 2px solid var(--color-button-primary);
    border-radius: .375rem;
    margin-top: 0;
    display: inline-block;
    text-decoration: none;
    color: var(--color-button-primary);
    background-color: transparent;
}

/* Dialog */
main.wish-form article dialog {
    max-width: 95%;
    max-height: 85vh;
    width: 100%;
    padding: 1rem 1rem;
    border: none;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main.wish-form article dialog::backdrop {
    background: rgba(0, 0, 0, 0.25);
}

main.wish-form article dialog section:first-of-type {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

main.wish-form article dialog h2 {
    width: 100%;
    margin: 0;
}

main.wish-form article dialog section button {
    width: max-content;
    margin: auto 0 0.5rem auto;
    order: -1;
}

main.wish-form article dialog form {
    max-width: 21.25rem;
    padding: 0;
    position: relative;
}

main.wish-form article dialog form input {
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
}

main.wish-form article dialog form svg {
    width: 1.5rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

main.wish-form article dialog ul {
    list-style: none;
}

main.wish-form article dialog ul li {
    
    background-color: var(--color-background-primary);
    box-shadow: var(--box-shadow);
}

@media only screen and (min-width: 48rem) {
    main.wish-form article dialog {
        padding: 1.5rem 2rem;
    }

    main.wish-form article dialog section:first-of-type {
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    main.wish-form article dialog h2 {
        width: auto;
    }
    
    main.wish-form article dialog section button {
        margin: 0;
        order: 2;
    }

    main.wish-form article dialog form input {
        border: none;
    }
}

/* Dialog wishes */
main.wish-form article dialog ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

main.wish-form article dialog ul li .wishcardInfo {
    max-width: 100%;
    margin: 0;
}


/* Form */
main.wish-form form {
    padding: 2rem 0 0;
}

/* Text with black background */
main.wish-form section form > p,
main form label span {
    padding: .125rem .5rem;
    margin-bottom: .375rem;
    display: inline-block;
    background-color: var(--color-text-primary);
    color: var(--color-background-primary);
}

/* Input fields */
main form input:not(input[type="file"], 
input[type="checkbox"]), 
main form textarea, 
main form input[type="file"]::-webkit-file-upload-button {
    max-width: 31.25rem;
    width: 100%;
    padding: .5rem .75rem;
    border: none;
    border-radius: .75rem;
    margin-bottom: 1.5rem;
    display: block;
    font-family: var(--font-regular);
    font-size: 0.875rem;
    background: var(--color-background-primary);
}

main form input[type="file"] {
    max-height: 44px;
    margin-bottom: 1.5rem;
    display: block;
}

main form input[type="file"]::-webkit-file-upload-button {
    width: fit-content;
    display: inline-block;
    font-family: var(--font-regular);
    font-size: 1em;
    cursor: pointer;
}

main form input#image-link {
    margin-bottom: 0.5rem;
}

main form input#image-link + p, 
main form input#image-link + p a {
    font-size: 0.85rem;
    color: var(--color-text-quaternary);
}

main form input#image-link + p a {
    text-decoration: underline;
}

main form div#image-preview {
    margin: 0.5rem 0 1.5rem;
    max-width: 170px;
}

main form div#image-preview img {
    border-radius: .75rem;
}

main.wish-form section form input:focus-visible,
main.wish-form section form textarea:focus-visible {
    outline-offset: .15rem;
    outline: .125rem solid var(--color-button-primary);
    border-radius: .1875rem;
}

main.wish-form section form label:has(span.error) input,
main.wish-form section form label:has(span.error) textarea {
    margin-bottom: 0;
}

main.wish-form section form span.error {
    margin-bottom: 0.75rem;
    display: block;
    background-color: transparent;
    color: red;
}

/* Themes */
main.wish-form section form > ul {
    margin-top: .2rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    list-style: none;
}

main.wish-form section form > ul li {
    position: relative;
    padding: 0.125rem 0.375rem;
    border: 0.125rem solid var(--color-button-primary);
    border-radius: 0.375rem;
}

main.wish-form section form > ul li label {
    text-transform: capitalize;
}

main.wish-form section form > ul li input {
    appearance: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

main.wish-form section form > ul li:has(input#recreatie) {
    border-color: var(--color-filter-recreation);
}

main.wish-form section form > ul li:has(input#infrastructuur) {
    border-color: var(--color-filter-infrastructure);
}

main.wish-form section form > ul li:has(input#sport) {
    border-color: var(--color-filter-sports);
}

main.wish-form section form > ul li:has(input#natuur) {
    border-color: var(--color-filter-nature);
}

main.wish-form section form > ul li:has(input#winkel) {
    border-color: var(--color-filter-shops);
}

main.wish-form section form > ul li:has(input#milieu) {
    border-color: var(--color-filter-environment);
}

main.wish-form section form > ul li:has(input#jeugd) {
    border-color: var(--color-filter-youth);
}

main.wish-form section form > ul li:has(input#cultuur) {
    border-color: var(--color-filter-culture);
}

main.wish-form section form > ul li:has(input#huisvesting) {
    border-color: var(--color-filter-housing);
}

main.wish-form section form > ul li:has(input#veiligheid) {
    border-color: var(--color-filter-safety);
}

main.wish-form section form > ul li:has(input#verkeer) {
    border-color: var(--color-filter-traffic);
}

main.wish-form section form > ul li:has(input#strand) {
    border-color: var(--color-filter-beach);
}

main.wish-form section form > ul li:has(input#onderwijs) {
    border-color: var(--color-filter-education);
}

main.wish-form section form > ul li:has(input#overig) {
    border-color: var(--color-filter-other);
}

/* Checked checkboxes */
main.wish-form section form > ul li:has(input#recreatie:checked) {
    background-color: var(--color-filter-recreation);
}

main.wish-form section form > ul li:has(input#infrastructuur:checked) {
    background-color: var(--color-filter-infrastructure);
}

main.wish-form section form > ul li:has(input#sport:checked) {
    background-color: var(--color-filter-sports);
}

main.wish-form section form > ul li:has(input#natuur:checked) {
    background-color: var(--color-filter-nature);
}

main.wish-form section form > ul li:has(input#winkel:checked) {
    background-color: var(--color-filter-shops);
}

main.wish-form section form > ul li:has(input#milieu:checked) {
    background-color: var(--color-filter-environment);
}

main.wish-form section form > ul li:has(input#jeugd:checked) {
    background-color: var(--color-filter-youth);
}

main.wish-form section form > ul li:has(input#cultuur:checked) {
    background-color: var(--color-filter-culture);
}

main.wish-form section form > ul li:has(input#huisvesting:checked) {
    background-color: var(--color-filter-housing);
}

main.wish-form section form > ul li:has(input#veiligheid:checked) {
    background-color: var(--color-filter-safety);
}

main.wish-form section form > ul li:has(input#verkeer:checked) {
    background-color: var(--color-filter-traffic);
}

main.wish-form section form > ul li:has(input#strand:checked) {
    background-color: var(--color-filter-beach);
}

main.wish-form section form > ul li:has(input#onderwijs:checked) {
    background-color: var(--color-filter-education);
}

main.wish-form section form > ul li:has(input#overig:checked) {
    background-color: var(--color-filter-other);
}

main.wish-form section form > ul li input:focus-visible {
    outline-offset: .25rem;
}

/* Media queries */
@media only screen and (min-width: 768px) {
    main.wish-form {
        padding-right: 0;
        flex-direction: row;
    }

    main.wish-form section {
        max-width: calc(100% / 2 - 1rem);
        width: 100%;
        border-radius: .75rem;
        margin: 3rem 0;
        background-color: var(--color-background-primary);
    }

    main form input:not(input[type="file"], input[type="checkbox"]), 
    main form textarea, 
    main form input[type="file"]::-webkit-file-upload-button {
        border: 2px solid var(--color-background-secondary);
    }
}

@media only screen and (min-width: 1250px) {
    main.wish-form section form button {
        margin-top: 0;
    }
}