/**********/
/* FORM PAGE */
/**********/
main.wish-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main.wish-form section:first-of-type {
    max-width: 40.625rem;
    width: 100%;
    padding: 3rem 5vw;
}

/* Form intro */
main.wish-form article h2 {
    padding: 0;
    color: var(--color-text-primary);
    background-color: transparent;
}

main.wish-form article p {
    max-width: 31.25rem;
    margin-bottom: 1.5rem;
}

/* Dialog button */
main.wish-form article button#dialog-btn {
    padding: .375rem 1rem;
    border: 2px solid var(--color-button-primary);
    border-radius: .375rem;
    margin-top: 0;
    display: inline-block;
    text-decoration: none;
    color: var(--color-button-primary);
    background-color: transparent;
}

/* Dialog */
main.wish-form article dialog {
    max-width: 95%;
    max-height: 85vh;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main.wish-form article dialog::backdrop {
    background: rgba(0, 0, 0, 0.25);
}

main.wish-form article dialog > div {
    padding: 1rem 1rem 0.25rem;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: var(--color-background-primary);
}

main.wish-form article dialog section:first-of-type {
    padding: 0;
    border-radius: 1rem 1rem 0 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

main.wish-form article dialog h2 {
    width: 100%;
    margin: 0;
}

main.wish-form article dialog section button {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto 0 0.5rem auto;
    order: -1;
    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' fill='var(--color-text-primary)'%3E%3Cpath d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3E%3C/svg%3E");
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

main.wish-form article dialog form {
    max-width: 21.25rem;
    padding: 0;
    position: relative;
}

main.wish-form article dialog form input {
    height: 3rem;
    padding: 1rem;
    margin: 1rem 0 0.5rem;
    box-shadow: var(--box-shadow);
}

main.wish-form article dialog form svg {
    width: 1.5rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

main.wish-form article dialog > ul {
    list-style: none;
}

main.wish-form article dialog > ul > li {
    background-color: var(--color-background-primary);
    box-shadow: var(--box-shadow);
}

/* Dialog wishes */
main.wish-form article dialog > ul {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

main.wish-form article dialog ul li .wishcardInfo {
    max-width: 100%;
    margin: 0;
}

@media only screen and (min-width: 40rem) {
    main.wish-form article dialog div + ul {
        padding: 1.5rem 2rem;
        grid-template-columns: 1fr 1fr;
    } 
}

@media only screen and (min-width: 48rem) {
    main.wish-form article dialog > div {
        padding: 1.5rem 2rem 0.5rem;
    }

    main.wish-form article dialog div + ul {
        padding: 1.5rem 2rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main.wish-form article dialog section:first-of-type {
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    main.wish-form article dialog h2 {
        width: auto;
    }
    
    main.wish-form article dialog section button {
        margin: 0;
        order: 2;
    }

    main.wish-form article dialog form input {
        border: none;
    }
}

@media only screen and (min-width: 64rem) {
    main.wish-form article dialog div + ul {
        padding: 1.5rem 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Form */
main.wish-form form {
    padding: 2rem 0 0;
}

/* Text with black background */
main.wish-form section form > p,
main form label span {
    padding: .125rem .5rem;
    margin-bottom: .375rem;
    display: inline-block;
    background-color: var(--color-text-primary);
    color: var(--color-background-primary);
}

/* Input fields */
main.wish-form form input:not(input[type="file"], 
input[type="checkbox"], input[type="radio"]),
main.wish-form form textarea, 
main.wish-form form input[type="file"]::-webkit-file-upload-button {
    max-width: 31.25rem;
    width: 100%;
    padding: .5rem .75rem;
    border: none;
    border-radius: .75rem;
    margin-bottom: 1.5rem;
    display: block;
    font-family: var(--font-regular);
    font-size: 0.875rem;
    background: var(--color-background-primary);
    scroll-margin-top: 5rem;
}

main.wish-form form input:not(input[type="file"], 
input[type="checkbox"], input[type="radio"], input#image-link) {
    max-width: 25rem;
}

main.wish-form form input[type="file"] {
    max-height: 44px;
    margin-bottom: 1.5rem;
    display: block;
}

main.wish-form form input[type="file"]::-webkit-file-upload-button {
    width: fit-content;
    display: inline-block;
    font-family: var(--font-regular);
    font-size: 1em;
    cursor: pointer;
}

main form input#image-link {
    margin-bottom: 0.5rem;
}

main form:has(span.error) input#image-link {
    margin-bottom: 0;
}

main form p.info, 
main form p.info a {
    font-size: 0.85rem;
    color: var(--color-text-quaternary);
}

main form input#image-link + p a {
    text-decoration: underline;
}

main form div#image-preview {
    margin: 0.5rem 0 1.5rem;
    max-width: 170px;
}

main form div#image-preview img {
    border-radius: .75rem;
}

main.wish-form section form input:focus-visible,
main.wish-form section form textarea:focus-visible {
    outline-offset: .15rem;
    outline: .125rem solid var(--color-button-primary);
    border-radius: .1875rem;
}

main.wish-form section form label div {
    max-width: 31.25rem;
    width: 100%;
    display: block;
    position: relative;
}

main.wish-form section form label:has(input:not(input[type="file"]):valid) div::after,
main.wish-form section form label:has(textarea:valid) div::after {
    content: '';
    width: 0.9rem;
    height: 0.9rem;
    /* background-color: #57eb78; */
    position: absolute;
    bottom: 0.8rem;
    right: 0.8rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='var(--color-background-secondary)'%3E%3Cpath d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}

main.wish-form section form label:has(input:not(input[type="file"]):valid) div::after {
    right: 6.9rem;
}

main.wish-form section form label:has(input:not(input[type="file"]):valid) div::before,
main.wish-form section form label:has(textarea:valid) div::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: rgba(87, 235, 120, 0.5);
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

main.wish-form section form label:has(input:not(input[type="file"]):valid) div::before {
    right: 6.6rem;
}

main.wish-form section form label:has(span.error) input,
main.wish-form section form label:has(span.error) textarea {
    margin-bottom: 0;
}

main.wish-form section form span.error {
    padding: 0.2rem 0 0;
    margin-bottom: 0.75rem;
    display: block;
    background-color: transparent;
    color: rgb(219, 16, 16);
}

main.wish-form section form input#image-link + span.error {
    padding: 0;
}

main.wish-form section form ul.themes-container + span.error {
    padding: .125rem 0;
}

main.wish-form section form ul.themes-container.error:focus-within {
    outline: .125rem solid var(--color-button-primary);
    outline-offset: 0.25rem;
    border-radius: .1875rem;
}

/* Media queries */
@media only screen and (min-width: 768px) {
    main.wish-form {
        padding-right: 0;
        flex-direction: row;
    }

    main.wish-form section {
        max-width: calc(100% / 2 - 1rem);
        width: 100%;
        border-radius: .75rem;
        margin: 3rem 0;
        background-color: var(--color-background-primary);
    }

    main.wish-form form input:not(input[type="file"], input[type="checkbox"], input[type="search"]),
    main.wish-form form textarea, 
    main.wish-form form input[type="file"]::-webkit-file-upload-button {
        border: 2px solid var(--color-background-secondary);
    }
}

@media only screen and (min-width: 1250px) {
    /* main.wish-form section form button {
        margin-top: 0;
    } */
}