.introText{
    font-size: 1.2rem;
    max-width: 45rem;
}

/*************/
/* FilterBar */
/*************/
section.filterBar {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

section.filterBar>div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.filterBar>div>p {
    font-family: var(--font-extrabold);
    line-height: 1;
}

section.filterBar>div>p:first-of-type {
    font-size: 2.5rem;
}

section.filterBar>div>p:nth-of-type(2) {
    font-size: 1.1875rem;
}

section.filterBar>details {
    margin: 0 0 0 2rem;
    cursor: pointer;
}

section.filterBar>details>summary {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--color-background-primary);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-buttons);
    height: 3rem;
    box-shadow: var(--box-shadow);
    list-style: none;
}

section.filterBar>details>ul {
    position: absolute;
    left: 5vw;
    margin-top: 1rem;
}

section.filterBar>details:hover svg {
    fill: var(--color-button-primary);
}

section.filterBar:has(details[open])>details>summary>svg {
    fill: var(--color-button-primary);
}

section.filterBar:has(details[open])+ul.grid {
    margin-top: 4rem;
}

section.filterBar>details>summary>svg {
    height: 1.5rem;
    width: 1.5rem;
    transition: 250ms ease-in;
}

section.filterBar>details>summary>span {
    display: none;
    color: var(--color-text-quaternary);
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0 0 0 .5rem;
    padding: 0 1rem 0 2.5rem;
    font-family: inherit;
    height: 3rem;
    border: none;
    border-radius: var(--border-radius-buttons);
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    background-color: var(--color-background-primary);
    color: var(--color-text-quaternary);
}

label.selectContainer {
    position: relative;
    display: none;
    align-items: center;
}

label.selectContainer::before {
    content: "";
    display: block;
    background-image: url("../images/icon_sort.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    left: 1rem;
}

section.filterBar>form:first-of-type {
    display: none;
    margin: 0 auto 0 .5rem;
}

section.filterBar>form:first-of-type>label>input {
    height: 3rem;
    border: none;
    border-radius: var(--border-radius-buttons);
    padding: 0 3rem 0 1rem;
    margin: auto;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    background-image: url("../images/icon_search.svg");
    background-repeat: no-repeat;
    background-position: center right 1rem;
}

section.filterBar>form:first-of-type>label>input::placeholder {
    color: var(--color-text-quaternary);
}

section.filterBar>form:nth-of-type(2) {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
    display: none;
}

section.filterBar>form:nth-of-type(2)>label {
    display: flex;
}

@media (min-width: 500px) {
    section.filterBar>form:nth-of-type(2)>label:first-of-type {
        display: flex;
    }
}

@media (min-width: 1000px) {
    label.selectContainer {
        display: flex;
    }
}


section.filterBar>form:nth-of-type(2)>label>input {
    margin: auto;
    background-color: var(--color-background-primary);
}

section.filterBar>form:nth-of-type(2)>label>input[type=radio] {
    cursor: pointer;
    padding: 0.5em;
    width: 3rem;
    height: 3rem;
    appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    background-size: 1.6rem;
    box-shadow: var(--box-shadow);
    transition: 250ms ease-in;
}

section.filterBar>form:nth-of-type(2)>label:first-of-type>input[type=radio]:hover {
    background-image: url(../images/icon_masonry_selected.svg);
}

section.filterBar>form:nth-of-type(2)>label:nth-of-type(2)>input[type=radio]:hover {
    background-image: url(../images/icon_grid_selected.svg);
}

ul.themeFilters {
    margin-bottom: 1rem;
    position: absolute;
    left: 5vw;
    z-index: 2;
    margin: 2rem 0;
    display: flex;
}

ul.themeFilters>div>input {
    display: none;
}

.masonryBtn>input {
    background-image: url("../images/icon_masonry.svg");
}

.masonryBtn>input:checked {
    background-image: url("../images/icon_masonry_selected.svg");
}

.masonryBtn>input:checked+.grid {
    grid-template-rows: masonry;
}

.gridBtn>input {
    background-image: url("../images/icon_grid.svg");
}

.gridBtn>input:checked {
    background-image: url("../images/icon_grid_selected.svg");
}

.grid {
    width: 100%;
}

.grid.masonry .wishcard {
    width: 19.25rem;
    margin-bottom: 1rem;
}

.grid.block .wishcard {
    width: 100%;
}

.wishcard>a{
    display: block;
    width: 100%;
}

@supports (grid-template-rows: masonry) {
    .grid.masonry {
        grid-template-rows: masonry;
        align-tracks: stretch;
    }

    .grid.masonry .wishcardInfo {
        height: auto;
    }

    .grid.masonry .wishcard {
        width: 100%;
    }
}

.grid.masonry .wishcard:nth-child(5n+1)>a>section:first-of-type>img {
    height: 8rem;
}

.grid.masonry .wishcard:nth-child(5n+2)>a>section:first-of-type>img {
    height: 16rem;
}

.grid.masonry .wishcard:nth-child(5n+3)>a>section:first-of-type>img {
    height: 20rem;
}

.grid.masonry .wishcard:nth-child(5n+4)>a>section:first-of-type>img {
    height: 12rem;
}

.wishcardInfo >div>h3{
font-size: 1.25rem;
}

/* Mediaqueries */
@media (min-width: 500px) {
    section.filterBar>details>summary>span {
        display: block;
    }
}

@media (min-width: 700px) {
    section.filterBar>form:first-of-type {
        display: block;
    }

    section.filterBar>form:nth-of-type(2){
        display: flex;
    }
}