/**********/
/* Header */
/**********/
p.introText {
    font-size: 1.2rem;
    max-width: 45rem;
}

/*************/
/* FilterBar */
/*************/
section.filterBar {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

/* Number of wishes */
section.filterBar>div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.filterBar>div>p {
    font-family: var(--font-extrabold);
    line-height: 1;
}

section.filterBar>div>p:first-of-type {
    font-size: 2.5rem;
}

section.filterBar>div>p:nth-of-type(2) {
    font-size: 1.1875rem;
}

/* Themefilters button */
section.filterBar>details {
    margin: 0 0 0 2rem;
    cursor: pointer;
}

section.filterBar>details>summary {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--color-background-primary);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-buttons);
    height: 3rem;
    box-shadow: var(--box-shadow);
    list-style: none;
}

section.filterBar>details>summary>svg {
    height: 1.5rem;
    width: 1.5rem;
    transition: 250ms ease-in;
}

section.filterBar>details>summary>span {
    display: none;
    color: var(--color-text-quaternary);
}

/* Theme filter options */
section.filterBar>details>ul.themes-container {
    position: absolute;
    left: 5vw;
    margin-top: 1rem;
}

section.filterBar>details:hover svg { /* Change color on hover and open details */
    fill: var(--color-button-primary);
}

section.filterBar:has(details[open])>details>summary>svg {
    fill: var(--color-button-primary);
}

/* Change beginningpoint of the grid based on the screenwidth */
section.filterBar:has(details[open])+ul.grid {
    margin-top: 12rem;
}

@media (min-width: 473px) {
    section.filterBar:has(details[open])+ul.grid {
        margin-top: 10rem;
    }
}

@media (min-width: 679px) {
    section.filterBar:has(details[open])+ul.grid {
        margin-top: 7rem;
    }
}

@media (min-width: 1286px) {
    section.filterBar:has(details[open])+ul.grid {
        margin-top: 4rem;
    }
}

/* Sort button */
section.filterBar>label.selectContainer {
    position: relative;
    display: none;
    align-items: center;
}

@media (min-width: 1000px) {
    section.filterBar>label.selectContainer {
        display: flex;
    }
}

/* Sort icon */
section.filterBar>label.selectContainer::before {
    content: "";
    display: block;
    background-image: url("../images/icon_sort.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    left: 1rem;
}

/* Dropdown with sorting options */
section.filterBar>label.selectContainer>select {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0 0 0 .5rem;
    padding: 0 1rem 0 2.5rem;
    font-family: inherit;
    height: 3rem;
    border: none;
    border-radius: var(--border-radius-buttons);
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    background-color: var(--color-background-primary);
    color: var(--color-text-quaternary);
}

/* Search */
section.filterBar>form:first-of-type {
    display: none;
    margin: 0 auto 0 .5rem;
}

section.filterBar>form:first-of-type>label>input {
    height: 3rem;
    border: none;
    border-radius: var(--border-radius-buttons);
    padding: 0 3rem 0 1rem;
    margin: auto;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    background-image: url("../images/icon_search.svg");
    background-repeat: no-repeat;
    background-position: center right 1rem;
}

section.filterBar>form:first-of-type>label>input::placeholder {
    color: var(--color-text-quaternary);
}

/* Layout buttons */
section.filterBar>form:nth-of-type(2) {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
    display: none;
}

section.filterBar>form:nth-of-type(2)>label {
    display: flex;
    font-size: 0;
}

/* Show layout buttons when sreenwidth is min 500px */
@media (min-width: 500px) {
    section.filterBar>form:nth-of-type(2)>label:first-of-type {
        display: flex;
    }
}

section.filterBar>form:nth-of-type(2)>label>input {
    margin: auto;
    background-color: var(--color-background-primary);
}

section.filterBar>form:nth-of-type(2)>label>input[type=radio] {
    cursor: pointer;
    padding: 0.5em;
    width: 3rem;
    height: 3rem;
    appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    background-size: 1.6rem;
    box-shadow: var(--box-shadow);
    transition: 250ms ease-in;
}

section.filterBar>form:nth-of-type(2)>label.masonryBtn>input[type=radio]:hover {
    background-image: url(../images/icon_masonry_selected.svg);
}

section.filterBar>form:nth-of-type(2)>label.gridBtn>input[type=radio]:hover {
    background-image: url(../images/icon_grid_selected.svg);
}

section.filterBar>form:nth-of-type(2)>label.masonryBtn>input {
    background-image: url("../images/icon_masonry.svg");
}

section.filterBar>form:nth-of-type(2)>label.masonryBtn>input:checked {
    background-image: url("../images/icon_masonry_selected.svg");
}

section.filterBar>form:nth-of-type(2)>label.masonryBtn>input:checked+.grid {
    grid-template-rows: masonry;
}

section.filterBar>form:nth-of-type(2)>label.gridBtn>input {
    background-image: url("../images/icon_grid.svg");
}

section.filterBar>form:nth-of-type(2)>label.gridBtn>input:checked {
    background-image: url("../images/icon_grid_selected.svg");
}


/********/
/* Grid */
/********/
ul.grid {
    width: 100%;
}

/* When masonry layout is selected */
ul.grid.masonry li.wishcard {
    width: 19.25rem;
    margin-bottom: 1rem;
}

/* When block layout is selected */
ul.grid.block li.wishcard {
    width: 100%;
}

ul.grid>li.wishcard>a {
    display: block;
    width: 100%;
}

@supports (grid-template-rows: masonry) {
    .grid.masonry {
        grid-template-rows: masonry;
        align-tracks: stretch;
    }

    .grid.masonry .wishcard {
        width: 100%;
    }

    .grid.masonry .wishcardInfo {
        height: auto;
    }
}

/* Different height for each image in wishcard */
.grid.masonry .wishcard:nth-child(5n+1)>a>section:first-of-type>img {
    height: 8rem;
}

.grid.masonry .wishcard:nth-child(5n+2)>a>section:first-of-type>img {
    height: 16rem;
}

.grid.masonry .wishcard:nth-child(5n+3)>a>section:first-of-type>img {
    height: 20rem;
}

.grid.masonry .wishcard:nth-child(5n+4)>a>section:first-of-type>img {
    height: 12rem;
}

li.wishcard .wishcardInfo>div>h2 {
    font-size: clamp(1.125rem, 4.5vw, 1.5rem);
    font-family: var(--font-bold);
    background-color: transparent;
    color: inherit;
    padding: 0;
    margin: 0;
    line-height: 1.3;
}

/* Mediaqueries */
@media (min-width: 500px) {
    /* Show filter button text when screenwidth is min 500px */
    section.filterBar>details>summary>span { 
        display: block;
    }
}

@media (min-width: 700px) {
    /* Show searchbar and layout buttons when screenwidth is min 700px */
    section.filterBar>form:first-of-type {
        display: block;
    }

    section.filterBar>form:nth-of-type(2) {
        display: flex;
    }
}