/* FONTS */
@font-face {
    font-family: 'Poppins-Regular';
    src: url('/public/fonts/poppins-regular.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('/public/fonts/poppins-bold.ttf');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('/public/fonts/poppins-medium.ttf');
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('/public/fonts/poppins-extrabold.ttf');
}

/* VARIABLES */
:root {
    --white: #fff;
    --black: #1b1b1b;
    --gray: #dddddd;
    --ga-blue: #0594C6;
    --ga-yellow: #FFE700;
    --green: #1FC343;
    --blue: #0CC1E9;
    --orange: #F29406;
    --pink: #FF4FF8;

    --box-shadow: 0 0 .9375rem rgba(27, 27, 27, 0.2);

    --font-regular: 'Poppins-Regular';
    --font-medium: 'Poppins-Medium';
    --font-bold: 'Poppins-Bold';
    --font-extrabold: 'Poppins-ExtraBold';

    --font-size-text: 1rem;
    --font-size-heading1: 2rem;
    --font-size-heading2: 1.5rem;
    --font-size-heading3: 1.25rem;
}

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-regular);
}

h1 {
    padding: .3125rem 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 2.5rem;
    font-family: var(--font-bold);
    background-color: var(--black);
    color: var(--white);
}

h2 {
    margin-bottom: .3rem;
    font-size: 1.75rem;
    font-family: var(--font-bold);
}

img {
    width: 100%;
}

/* FORM */
main.wish-form {
    display: flex;
}

main.wish-form article p {
    margin-bottom: 1.5rem;
}

main.wish-form article a {
    padding: .375rem 1rem;
    border: 2px solid var(--ga-blue);
    border-radius: .375rem;
    text-decoration: none;
    color: var(--ga-blue);
}

main form label {
    display: block;
}


