/* FONTS */
@font-face {
    font-family: 'Poppins-Regular';
    src: url('/public/fonts/poppins-regular.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('/public/fonts/poppins-bold.ttf');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('/public/fonts/poppins-medium.ttf');
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('/public/fonts/poppins-extrabold.ttf');
}

/* VARIABLES */
:root {
    --color-background-primary: #fff;
    --color-background-secondary: #D5D5D5;
    --color-text-primary: #1b1b1b;
    --color-button-primary: #0594C6;
    --color-button-secondary: #FFE700;

    --color-filter-culture: rgba(255, 175, 141, 0.5);
    --color-filter-housing: rgba(144, 169, 255, 0.5);
    --color-filter-infrastructure: rgba(242, 95, 255, 0.5);
    --color-filter-youth: rgba(109, 225, 204, 0.5);
    --color-filter-environment: rgba(44, 119, 60, 0.5);
    --color-filter-nature: rgba(87, 235, 120, 0.5);
    --color-filter-education: rgba(40, 193, 193, 0.5);
    --color-filter-recreation: rgba(255, 216, 246, 0.5);
    --color-filter-sports: rgba(133, 223, 243, 0.5);
    --color-filter-beach: rgba(255, 218, 23, 0.5);
    --color-filter-safety: rgba(255, 185, 81, 0.5);
    --color-filter-traffic: rgba(255, 49, 49, 0.5);
    --color-filter-shops: rgba(186, 119, 239, 0.5);
    --color-filter-other: rgba(180, 180, 180, 0.5);

    --box-shadow: 0 0 .9375rem rgba(27, 27, 27, 0.2);

    --font-regular: 'Poppins-Regular';
    --font-medium: 'Poppins-Medium';
    --font-bold: 'Poppins-Bold';
    --font-extrabold: 'Poppins-ExtraBold';

    --font-size-text: 1rem;
    --font-size-heading1: 2rem;
    --font-size-heading2: 1.5rem;
    --font-size-heading3: 1.25rem;

}

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-regular);
}

body {
    background-color: #f0f0eb;
}

h1 {
    padding: .3125rem 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    font-size: clamp(1.75rem, 5vw + 0.5rem,  2.5rem);
    font-family: var(--font-bold);
    background-color: var(--color-text-primary);
    color: var(--color-background-primary);
}

h2 {
    margin-bottom: .3rem;
    font-size: clamp(1.375rem, 5vw,  1.75rem);
    font-family: var(--font-bold);
}

h3 {
    font-size: clamp(1.125rem, 4.5vw,  1.5rem);
    font-family: var(--font-bold);
}

img {
    width: 100%;
}

button {
    padding: .5rem 1rem;
    border: none;
    border-radius: .375rem;
    margin-top: 1rem;
    display: block;
    color: var(--color-background-primary);
    background-color: var(--color-button-primary);
    cursor: pointer;
}

header {
    background: var(--color-button-secondary);
    height: 6.625rem;
    position: sticky;
    top: 0;
    z-index: 99;
}

/* FORM PAGE */
main.wish-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main.wish-form section:first-of-type {
    max-width: 40.625rem;
    width: 100%;
    padding: 3rem 5vw;
}

/* Form intro */
main.wish-form article p {
    max-width: 31.25rem;
    margin-bottom: 1.5rem;
}

main.wish-form article a {
    padding: .375rem 1rem;
    border: 2px solid var(--color-button-primary);
    border-radius: .375rem;
    display: inline-block;
    text-decoration: none;
    color: var(--color-button-primary);
}

/* Form */
main.wish-form form {
    padding: 2rem 0 0;
}

/* Styling text with black background */
main.wish-form section form > p,
main form label span {
    padding: .125rem .5rem;
    margin-bottom: .375rem;
    display: inline-block;
    background-color: var(--color-text-primary);
    color: var(--color-background-primary);
}

/* Styling input fields */
main form input:not(input[type="file"], 
input[type="checkbox"]), 
main form textarea, 
main form input[type="file"]::-webkit-file-upload-button {
    max-width: 31.25rem;
    width: 100%;
    padding: .5rem .75rem;
    border: none;
    border-radius: .75rem;
    margin-bottom: 1.5rem;
    display: block;
    background: var(--color-background-primary);
}

main form input[type="file"] {
    display: block;
}

main form input[type="file"]::-webkit-file-upload-button {
    width: fit-content;
    display: inline-block;
    font-family: var(--font-regular);
    font-size: 1em;
    cursor: pointer;
}

main form input#image-link {
    margin-bottom: 0.5rem;
}

main form div#image-preview {
    margin-bottom: 1.5rem;
}

main.wish-form section form input:focus,
main.wish-form section form textarea:focus {
    outline-color: var(--color-button-primary);
}

main.wish-form section form label:has(span.error) input,
main.wish-form section form label:has(span.error) textarea {
    margin-bottom: 0;
}

main.wish-form section form span.error {
    margin-bottom: 0.75rem;
    display: block;
    background-color: transparent;
    color: red;
}

main.wish-form section form > ul {
    display: flex;
    gap: .5rem;
    list-style: none;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* Themes */
/* For WebKit-based browsers like Chrome and Safari */
/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
main.wish-form section form > ul::-webkit-scrollbar {
    width: 0; 
}

main.wish-form section form > ul::-webkit-scrollbar-track {
    background: transparent;
}

main.wish-form section form > ul::-webkit-scrollbar-thumb {
    background-color: transparent;
}

main.wish-form section form > ul li label {
    display: flex;
}

main.wish-form section form > ul li label input {
    margin-bottom: 0;
}

main.wish-form section form > ul li label {
    padding: .125rem .5rem;
    border: 2px solid lightblue;
    border-radius: .75rem;
    text-transform: capitalize;
    cursor: pointer;
}

main.wish-form section form > ul li label:has(input#recreatie) {
    border-color: var(--color-filter-recreation);
}

main.wish-form section form > ul li label:has(input#infrastructuur) {
    border-color: var(--color-filter-infrastructure);
}

main.wish-form section form > ul li label:has(input:checked) {
    background-color: lightblue;
}

main.wish-form section form > ul li label:has(input#sport) {
    border-color: var(--color-filter-sports);
}

main.wish-form section form > ul li label:has(input#natuur) {
    border-color: var(--color-filter-nature);
}

main.wish-form section form > ul li label:has(input#winkel) {
    border-color: var(--color-filter-shops);
}

main.wish-form section form > ul li label:has(input#milieu) {
    border-color: var(--color-filter-environment);
}

main.wish-form section form > ul li label:has(input#jeugd) {
    border-color: var(--color-filter-youth);
}

main.wish-form section form > ul li label:has(input#cultuur) {
    border-color: var(--color-filter-culture);
}

main.wish-form section form > ul li label:has(input#huisvesting) {
    border-color: var(--color-filter-housing);
}

main.wish-form section form > ul li label:has(input#veiligheid) {
    border-color: var(--color-filter-safety);
}

main.wish-form section form > ul li label:has(input#verkeer) {
    border-color: var(--color-filter-traffic);
}

main.wish-form section form > ul li label:has(input#strand) {
    border-color: var(--color-filter-beach);
}

main.wish-form section form > ul li label:has(input#onderwijs) {
    border-color: var(--color-filter-education);
}

main.wish-form section form > ul li label:has(input#overig) {
    border-color: var(--color-filter-other);
}

main.wish-form section form > ul li label:has(input:checked) {
    background-color: lightblue;
}

main.wish-form section form > ul li label:has(input#recreatie:checked) {
    background-color: var(--color-filter-recreation);
}

main.wish-form section form > ul li label:has(input#infrastructuur:checked) {
    background-color: var(--color-filter-infrastructure);
}

main.wish-form section form > ul li label:has(input#sport:checked) {
    background-color: var(--color-filter-sports);
}

main.wish-form section form > ul li label:has(input#natuur:checked) {
    background-color: var(--color-filter-nature);
}

main.wish-form section form > ul li label:has(input#winkel:checked) {
    background-color: var(--color-filter-shops);
}

main.wish-form section form > ul li label:has(input#milieu:checked) {
    background-color: var(--color-filter-environment);
}

main.wish-form section form > ul li label:has(input#jeugd:checked) {
    background-color: var(--color-filter-youth);
}

main.wish-form section form > ul li label:has(input#cultuur:checked) {
    background-color: var(--color-filter-culture);
}

main.wish-form section form > ul li label:has(input#huisvesting:checked) {
    background-color: var(--color-filter-housing);
}

main.wish-form section form > ul li label:has(input#veiligheid:checked) {
    background-color: var(--color-filter-safety);
}

main.wish-form section form > ul li label:has(input#verkeer:checked) {
    background-color: var(--color-filter-traffic);
}

main.wish-form section form > ul li label:has(input#strand:checked) {
    background-color: var(--color-filter-beach);
}

main.wish-form section form > ul li label:has(input#onderwijs:checked) {
    background-color: var(--color-filter-education);
}

main.wish-form section form > ul li label:has(input#overig:checked) {
    background-color: var(--color-filter-other);
}

main.wish-form section form > ul li label input {
    appearance: none;
}

/* main.wish-form section form > ul li label input:focus {
    outline: 1px solid var(--color-button-primary);
} */

main.wish-form section form > ul li label:has(input:checked) {
    outline: 2px solid var(--color-button-primary);
}

/* Media queries */
@media only screen and (min-width: 768px) {
    main.wish-form {
        padding-right: 0;
        flex-direction: row;
    }

    main.wish-form section {
        max-width: calc(100% / 2 - 1rem);
        width: 100%;
        border-radius: .75rem;
        margin: 3rem 0;
        background-color: var(--color-background-primary);
    }

    main form input:not(input[type="file"], input[type="checkbox"]), 
    main form textarea, 
    main form input[type="file"]::-webkit-file-upload-button {
        border: 2px solid var(--color-background-secondary);
    }
}

@media only screen and (min-width: 1250px) {
    main.wish-form section form button {
        margin-top: 0;
    }
}