/*********/
/* FONTS */
/*********/
@font-face {
    font-family: 'Poppins-Regular';
    src: url('/public/fonts/poppins-regular.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('/public/fonts/poppins-bold.ttf');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('/public/fonts/poppins-medium.ttf');
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('/public/fonts/poppins-extrabold.ttf');
}


/*************/
/* CSS RESET */
/*************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;

}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-background-primary: #fff;
    --color-background-secondary: #D5D5D5;
    --color-background: #F0F0EB;
    --color-text-background: #1B1B1B;
    --color-text-primary: #1B1B1B;
    --color-text-secundairy: #fff;
    --color-text-tertiary: #B3B3B3;
    --color-tag-duurzaam: rgba(31, 195, 67, .5);

    --font-regular: 'Poppins-Regular';
    --font-medium: 'Poppins-Medium';
    --font-bold: 'Poppins-Bold';
    --font-extrabold: 'Poppins-ExtraBold';

    --font-size-text: 1rem;
    --font-size-heading1: 2rem;
    --font-size-heading2: 1.5rem;
    --font-size-heading3: 1.25rem;
}



/*****************/
/* Basic styling */
/*****************/
body {
    background-color: var(--color-background);
}

a {
    text-decoration: none;
    color: var(--color-text-primary);
    cursor: pointer;
}

p, li{
    font-size: var(--font-size-text);
    font-family: var(--font-regular);
    color: var(--color-text-primary);
}

/* h1 {
    padding: .3125rem 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    font-size: clamp(1.75rem, 5vw + 0.5rem,  2.5rem);
    font-family: var(--font-bold);
    background-color: var(--color-text-primary);
    color: var(--color-background-primary);
} */

h2 {
    margin: 0 auto .3rem 0;
    font-size: clamp(1.375rem, 5vw,  1.75rem);
    font-family: var(--font-bold);
    background-color: var(--color-text-background);
    color: var(--color-text-secundairy);
    width: fit-content;
    padding: .5rem 1rem;
}

h3 {
    font-size: clamp(1.125rem, 4.5vw,  1.5rem);
    font-family: var(--font-bold);
}

main{
    max-width: 1139px;
    margin: auto;
}


/*************/
/* Wishcards */
/*************/
.grid {
    margin: 0 auto;
    display: grid;
    gap: 1.3rem;
}

.wishcard {
    background-color: #FFFFFF;
    display: block;
    width: 16.8rem;
    border-radius: 16px;
    margin: 0 auto;
}

.wishcard>a>section:first-of-type {
    position: relative;
}


.wishcard>a>section:first-of-type>img {
    height: 13rem;
    width: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.wishcardInfo {
    padding: 1rem;
    position: relative;
    height: 13rem;
}

.wishcardInfo>h3 {
    font-size: 1.125rem;
    font-weight: 700;
}

.wishcardInfo>p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Show 3 lines of text */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    /* Allow wrapping of text */
}

/* Thema's */
.themaContainer {
    display: flex;
    position: absolute;
    bottom: .6rem;
    left: 1rem;
}

.themaContainer>li {
    background-color: var(--color-tag-duurzaam);
    padding: .1rem .3rem;
    margin-right: .6rem;
}

/* Statistics on the card */
.statistics {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
    position: absolute;
    bottom: .5rem;
    width: 14.8rem;
}

.statistics>li {
    display: flex;
    gap: .5rem;
}

.statistics>li>p {
    color: var(--color-text-tertiary);
}



/****************/
/* Mediaqueries */
/****************/
@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1139px;
    }
}


/* NAVIGATION */
header {
    padding: 0 5vw;
    background-color: var(--color-background-primary);
    margin-bottom: 3rem;
}

header nav:first-of-type {
    display: none;
}

header nav ul li a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-family: var(--font-medium);
}

header nav>a {
    text-decoration: none;
    font-size: 0;
}

header nav:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav:nth-of-type(2) button {
    border: none;
    background-color: transparent;
}

header nav:nth-of-type(2) button svg,
header nav:nth-of-type(2) label svg {
    width: 1.5rem;
    height: 1.5rem;
}

header nav:nth-of-type(2) ul {
    padding: 1rem 5vw;
    display: none;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    list-style: none;
    background-color: var(--color-background-primary);
}

header nav:nth-of-type(2) ul.show {
    display: block;
}

header nav:nth-of-type(2) ul li:not(header nav:nth-of-type(2) ul li:last-child) {
    margin-bottom: 0.5rem;
}

header nav:nth-of-type(2)>a img {
    width: 3.75rem;
    height: auto;
}

@media only screen and (min-width: 1139px) {
    header {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav:first-of-type {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: var(--color-background-secondary);
    }

    header nav:first-of-type ul,
    header nav:nth-of-type(2) ul {
        height: 2.75rem;
        padding: 10px 5vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        list-style: none;
    }

    header nav:first-of-type ul {
        max-width: 1139px;
        width: 100%;
        padding: 0;
    }

    header nav:nth-of-type(2) {
        max-width: 1139px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav:nth-of-type(2) button {
        display: none;
    }

    header nav:nth-of-type(2) ul {
        position: static;
        padding: 0;
        gap: 1rem;
    }

    header nav:nth-of-type(2) ul li:nth-last-of-type(2),
    header nav:nth-of-type(2) ul li:last-of-type {
        display: none;
    }

    header nav:nth-of-type(2) label {
        width: 1.5rem;
        height: auto;
    }
}



footer {
    margin-top: 4.5rem;
    background-color: var(--color-background-secondary);
    padding: .625rem 5vw;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer ul li a {
    font-family: var(--font-medium);
    color: var(--color-text-primary);
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    footer ul {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}

@media only screen and (min-width: 479px) {
    footer ul {
        align-items: center;
    }

}